/* login.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#login-form {
    max-width: 400px; /* Set the max width for the whole form */
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2); /* Faded black */
}

.form-group {
    display: flex;
    flex-direction: column; /* Place inputs in a column layout */
    margin: 5px 0;
}

.label {
    width: 100px; /* Width of the label */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white; /* White background */
    margin-bottom: 5px; /* Add space between label and input */
}

.input-field {
    width: 100%; /* Take full width of the input area */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f; /* Red color */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

#login-button:hover {
    background-color: #c9302c; /* Darker shade of red */
}

.alert {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}
